<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
    <link rel="stylesheet" href="../ressources/bootstrap/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="../ressources/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../ressources/bootstrap/dist/css/style.css">
    
    <script src="../ressources/bootstrap/dist/js/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="../ressources/bootstrap/dist/js/html5shiv.js"></script>
    <script src="../ressources/bootstrap/dist/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 header-logo">
                <br>
                <a href="index.html"><img src="../ressources/bootstrap/dist/img/logo.png" alt="" class="img-responsive logo"></a>
            </div>

            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid nav-bar">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="menu active" href="#home" >Home</a></li>
                                <li><a class="menu" href="#about">about us</a></li>
                                <li><a class="menu" href="#service">our services </a></li>
                                <li><a class="menu" href="#team">our team</a></li>
                                <li><a class="menu" href="#contact"> contact us</a></li>
                            </ul>
                        </div><!-- /navbar-collapse -->
                    </div><!-- / .container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header> <!-- end of header area -->


<script src="../ressources/bootstrap/dist/js/jquery-2.1.1.js"></script>
<script src="../ressources/bootstrap/dist/js/gmaps.js"></script>
<script src="../ressources/bootstrap/dist/js/smoothscroll.js"></script>
<script src="../ressources/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../ressources/bootstrap/dist/js/custom.js"></script>
</body>
</html>