<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Lyon auto clean Services</title>
    <link rel="stylesheet" href="../ressources/bootstrap/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="../ressources/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../ressources/bootstrap/dist/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src="../ressources/bootstrap/dist/js/modernizr.js"></script>
    <script src="../ressources/bootstrap/dist/js/html5shiv.js"></script>
    <script src="../ressources/bootstrap/dist/js/respond.min.js"></script>

</head>
<body>
    <header class="top-header navbar-fixed-top" >
        <div class="container">
            <div class="row">
                <div class="col-xs-5 header-logo">
                    <br>
                    <a href="index.html"><img src="../ressources/image/logo_car.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-7" >
                    <nav class="navbar navbar-default">
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="btn_menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav navbar-right" >
                                    <li><a class="menu" href="index.html" onclick="fermerButton()">ACCUEIL</a></li>
                                    <li><a class="menu" href="../Views/index.html#about" onclick="fermerButton()">NOS SERVICES</a></li>
                                    <li><a class="menu active" href="../Views/tafif.html" onclick="fermerButton()">TARIFS</a></li>
                                    <li><a class="menu" href="../Views/contact.html" onclick="fermerButton()">NOUS CONTACTER</a></li>
                                    <li><a class="glyphicon glyphicon-user" href="../Views/logging.html" onclick="fermerButton()"></a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <section class="about text-center" id="about-tarif">
        <div class="container">
            <div class="row">
                <h2 style="color:#9FD22B" >NOS PRIX</h2>
                <h4 style="color:#9FD22B">LYON AUTO CLEAN SERVICES INTERVIENT SUR  TOUS TYPES DE VÉHICULES (CITADINE, BERLINE, 4×4, HAU   GAMME, SPORT, ETC)</h4>
                <h4>CITADINE</h4>
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="../ressources/image/exterieur.jpg" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h5>20$</h5>
                            </div>
                            <h3>LAVAGE EXTÉRIEUR</h3>
                            <hr size="1">
                            <p>C'estttendue.</p>
                            <hr size="1">
                            <p>C'esattendue.</p>
                            <hr size="1">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="../ressources/image/exterieur.jpg" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h5>20$</h5>
                            </div>
                            <h3>LAVAGE EXTÉRIEUR</h3>
                            <hr size="1">
                            <p>C'estttendue.</p>
                            <hr size="1">
                            <p>C'esattendue.</p>
                            <hr size="1">
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="../ressources/image/exterieur.jpg" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h5>20$</h5>
                            </div>
                            <h3>LAVAGE EXTÉRIEUR</h3>
                            <hr size="1">
                            <p>C'estttendue.</p>
                            <hr size="1">
                            <p>C'esattendue.</p>
                            <hr size="1">
                        </div>
                    </div>
                </div>

                <h4>BERLINE</h4>

                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="../ressources/image/exterieur.jpg" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h5>20$</h5>
                            </div>
                            <h3>LAVAGE EXTÉRIEUR</h3>
                            <hr size="1">
                            <p>C'estttendue.</p>
                            <hr size="1">
                            <p>C'esattendue.</p>
                            <hr size="1">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="../ressources/image/exterieur.jpg" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h5>20$</h5>
                            </div>
                            <h3>LAVAGE EXTÉRIEUR</h3>
                            <hr size="1">
                            <p>C'estttendue.</p>
                            <hr size="1">
                            <p>C'esattendue.</p>
                            <hr size="1">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img class="img-responsive" src="../ressources/image/exterieur.jpg" alt="">
                        </div>
                        <div class="about-details">
                            <div class="pentagon-text">
                                <h5>20$</h5>
                            </div>
                            <h3>LAVAGE EXTÉRIEUR</h3>
                            <hr size="1">
                            <p>C'estttendue.</p>
                            <hr size="1">
                            <p>C'esattendue.</p>
                            <hr size="1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- end of about section -->


    <footer class="footer clearfix" id="footer-bottom">
        <div class="container">
            <div class="row">
                <div  class="col-xs-6 text-left">
                    <p>&copy;Mostafizur All right reserved</p>
                </div>
                <div class="col-xs-6 text-right">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </footer>



<script src="../ressources/bootstrap/dist/js/jquery-2.1.1.js"></script>
<script src="../ressources/bootstrap/dist/js/smoothscroll.js"></script>
<script src="../ressources/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../ressources/bootstrap/dist/js/custom.js"></script>

</body>
</html>